* {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .wrapper {
    width: 750px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 1px 18px 18px -5px rgba(0, 0, 0, 0.3);
  }
  
  p {
    font-size: 16px;
    color: #07050d;
    line-height: 3;
    margin: 24px 0;
  }
  
  /* Header - Navigation */
  
  header {
    height: 30vh;
    background: #07050d;
    overflow: hidden;
  }
  
  /* header nav {
    background: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  
    position: fixed;
    top: 0;
    width: 1024px;
    z-index: 200;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.2);
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin: 0 24px;
  }
  
  header nav a {
    text-decoration: none;
    color: #07050d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  } */
  
  /* Header - Hero */
  
  header .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 80%;
  }
  
  header .hero-container .left {
    flex: 1;
    margin-left: 50px;
  }
  
  header .hero-container .left p.i-am {
    font-size: 15px;
    color: #fdfdfd;
    margin: 0;
  }
  
  header .hero-container .left h2 {
    font-size: 32px;
    color: #fdfdfd; 
  }
  
  /* header .hero-container .left h2:nth-of-type(2) {
    margin-left: 20px;
  }
  
  .btn {
    background: #ff4d4d;
    text-decoration: none;
    color: #07050d;
    margin: 16px 0;
    display: inline-block;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .btn.light {
    color: #fdfdfd;
  }
  
  .hero-container .left .btn {
    margin-left: 20px;
  }
  
  .hero-container .left .social-icons img {
    margin: 16px 20px;
    height: 40px;
  }
  
  .hero-container .right img {
    height: 580px;
  }
*/
  
  /* Section */
  
  section {
    padding: 50px 50px;
  }
  
  section .section-content {
    margin-left: 150px;
  }
  
  section h2 {
    margin-left: -100px;
    transform: rotate(-90deg);
    position: absolute;
    color: #cacaca;
    font-size: 54px;
    margin-top: 140px;
  }
  
  section h2::after {
    content: "";
    height: 10px;
    width: 80px;
    display: block;
    background: #ff4d4d;
    right: 0;
    position: absolute;
  }
  
  section .section-content p:first-of-type {
    margin: 0;
  }
  
  /* Work Section */
  
  /* section .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } */

  /* Footer */

footer {
    background: #07050d;
    color: #fdfdfd;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Additional Styles */


  @media (max-width: 600px) {
    .wrapper {
        width: auto;
        margin: 0 auto;
        font-family: "Roboto Condensed", sans-serif;
      }

    header .hero-container {
        position: relative;
    }

    /* Sections */

    section {
        padding: 10px 10px 0 50px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    section .section-content {
        margin-left: -30px;
        font-size: 15px;
    }

    section p {
        margin-left: -30px;
        font-size: 15px;
    }

    section h2 {
        margin-left: 100px;
        transform: rotate(0deg);
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 36px;
        display: inline-block;
        position: relative;
    }

    section h2::after {
        height: 4px;
        width: 80px;
    }
  }