* {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .wrapper {
    width: 750px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 1px 18px 18px -5px rgba(0, 0, 0, 0.3);
  }
  
  p {
    font-size: 16px;
    color: #07050d;
    line-height: 3;
    margin: 24px 0;
  }
  
  /* Header - Navigation */
  
  header {
    height: 25vh;
    background: #000000;
    overflow: hidden;
  }
  
  /* Header - Hero */
  
  header .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 80%;
  }
  
  header .hero-container .left {
    flex: 1;
    margin-left: 50px;
  }
  
  header .hero-container .left p.i-am {
    font-size: 15px;
    color: #fdfdfd;
    margin: 0;
  }
  
  header .hero-container .left h2 {
    font-size: 32px;
    color: #fdfdfd; 
  }
  
  /* Section */
  
  section {
    padding: 50px 50px;
  }
  
  section .section-content {
    margin-left: 150px;
  }
  
  section h2 {
    margin-left: -100px;
    transform: rotate(-90deg);
    position: absolute;
    color: #6f7c76;
    font-size: 54px;
    margin-top: 140px;
  }
  
  section h2::after {
    content: "";
    height: 10px;
    width: 80px;
    display: block;
    background: #d3d0cb;
    right: 0;
    position: absolute;
  }
  
  section .section-content p:first-of-type {
    margin: 0;
  }

  /* Footer */

footer {
    background: #07050d;
    color: #fdfdfd;
    padding: 10px;
    text-align: center;
    font-size: small;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  /* Additional Styles */

  @media (max-width: 600px) {
    .body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .wrapper {
        width: auto;
        margin: 0 auto;
        font-family: "Roboto Condensed", sans-serif;
      }
    
    p {
        font-size: 16px;
        color: #07050d;
        line-height: 3;
        margin: 0 auto;
    }

    .format-file p {
      line-height: 1;
    }

    .link p {
      line-height: 1;
    }

    .pastikan p {
      line-height: 1;
    }

    header .hero-container {
        position: relative;
    }

    header .hero-container .left {
      flex: 1;
      margin-left: 30px;
      margin-top: 10px;
    }

    /* Sections */

    section {
        padding: 10px 10px 0 50px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    section .section-content {
        margin-left: -30px;
        font-size: 15px;
        margin-top: -30px;
    }

    section .section-content .format-file {
      margin-top: 20px;
    }

    section .section-content .pastikan {
      margin-top: 20px;
    }

    section p {
        margin-left: -30px;
        font-size: 15px;
    }

    section h2 {
        margin-left: 100px;
        transform: rotate(0deg);
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 36px;
        display: inline-block;
        position: relative;
    }

    section h2::after {
        height: 4px;
        width: 80px;
    }

    footer {
      background: #07050d;
      color: #fdfdfd;
      padding: 10px;
      text-align: center;
      font-size: small;
      font-family: "Roboto Condensed", sans-serif;
    }
  }